<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Menu Item</title>
</head>
<body>
    <h1>Add menu Item</h1>
    <form action="#">
        <table>
            <tr>
                <td> 
                    Item Name:
                </td>
                <td>
                    <input type="text" name='new-item'>
                </td>
            </tr>

            <tr>
                <td> 
                    Item Course:
                </td>
                <td>
                    <select name="course" ><br>
                        <option value="Appetizer">Appetizer</option>
                        <option value="Entree">Main Course</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Beverage">Beverage</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    Price:
                </td>
                <td>
                    <input type="text" name="price">
                </td>
            </tr>

            <tr>
                <td>
                    Description:
                </td>
                <td>
                    <textarea name="description" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="Submit" value="Add">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>